{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}
Профайл пользователя
{% if author.get_full_name %}
{{ author.get_full_name }}
{% else %}
{{ author }}
{% endif %}
{% endblock %}

{% block content %}
      <div class="container py-5">        
        <h1>Все посты пользователя 
          {% if author.get_full_name %}
            {{ author.get_full_name }}
          {% else %}
            {{ author }}
          {% endif %}
        </h1>
		    <h3>Всего постов: {{posts.count}} </h3>
        <h3>Всего подписчиков: {{  followers  }}</h3>
        {% if following %}
          <a 
            class="btn btn-lg btn-light"
            href="{% url 'posts:profile_unfollow' author.username %}" role="button"
          >
            Отписаться
          </a>
        {% else %}
          <a 
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button"
          >
            Подписаться
          </a>
        {% endif %}    
        {% for post in page_obj %}
          {% include 'includes/post.html' with post=post %} 
            <a href="{% url 'posts:post_detail' post.pk %}">(подробная информация)</a>
          {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% if post.group %}   
          <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
        {% endif %} 
        {% if not forloop.last %}
          <hr>
        {% endif %}        
        		
        <!-- Остальные посты. после последнего нет черты -->

        {% include 'posts/includes/paginator.html' %} 
        <!-- Здесь подключён паджинатор -->       		
      </div>
{% endblock %}